body {
  background-color: #2C3754;
  cursor: pointer;
}

* {
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.button1 {
  width: 50%;
  background-color: #1659eb;
  color: white;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.button1:hover {
  background-color: blue;
}

button {
  width: 50%;
  background-color: darkcyan;
  color: white;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(6, 201, 201);
}