@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

.contactPageToaster {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .contactPageToaster {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .contactPageToaster {
    margin-top: 50px;
  }
}